.navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: cadetblue;
}

.navigation__button {
  display: grid;
  place-items: center;
  background-color: cadetblue;
  border-style: none;
}

.display-c {
  display: contents;
}

.navigation__button--active {
  background-color: hotpink;
}
