.profile {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.profile__img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile__img figcaption {
  font-weight: 600;
  font-size: 1.3rem;
}

.profile__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 0;
  margin-top: 40px;
}

.profile__ul li {
  border-radius: 5px;
  padding: 5px;
  background-color: lightsteelblue;
}

.profile__button {
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 25px;
}
