.card {
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  background-color: lightgoldenrodyellow;
  height: max-content;
  max-width: 400px;
  margin: 30px auto;
}

.card__bookmark {
  position: absolute;
  right: 20px;
  top: -10px;
  border-radius: 5px;
}

.card__bookmark--filled {
  background-color: hotpink;
  color: white;
}

.card__heading {
  margin-left: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card__question {
  margin: 5px 10px 20px;
}

.card__summary {
  margin: 10px auto 15px;
  padding: 5px;
  text-align: center;
  list-style-type: none;
  border: 1px solid black;
  width: max-content;
  background-color: lightgrey;
  border-radius: 10px;
}

.card__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 0;
  margin-top: 40px;
}

.card__ul li {
  border-radius: 5px;
  padding: 5px;
  background-color: lightsteelblue;
}

.card__answer[open] summary::after {
  content: attr(data-open);
}

.card__answer:not([open]) summary::after {
  content: attr(data-closed);
}
